<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
<h2>Registration Form</h2>
<form action="#" method="post" th:action="@{/register}">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required="required" th:value="${email}" /><br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required="required" th:value="${password}" /><br><br>

    <input type="submit" value="Register">
</form>
</body>
</html>